*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #000;
    height: 100vh;
}
h1{
    color: #b557f4;
    font-size: 40px;
    text-align: center;
    padding-top: 40vh;
    text-shadow: 0 0 10px rgba(255, 255, 155,0.35);

    z-index: 9999;
}
#bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}